# Created by .ignore support plugin (hsz.mobi)
### Java template
# Mobile Tools for Java (J2ME)
.mtj.tmp/

csvParser.iml
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/test/
.idea
.idea/
/target
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/sqldialects.xml
.idea/workspace.xml
rabbitWebCrawer.iml
target/classes/com/crawler/rabbit/service/crawler/UrlWorkerService$1.class
target/classes/com/crawler/rabbit/service/crawler/UrlWorkerService.class
target/classes/com/crawler/rabbit/service/DBImporterService.class
.idea/dataSources.ids
.idea/kotlinc.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
target/
*.class
target/classes/application.properties
target/classes/com/crawler/rabbit/service/crawler/UrlWorkerManagerService.class
*.class
*.class
*.class
.idea
.target
.target
b96ea8f2-f83b-4bec-ad2c-29d9a63fd6fb.uml
docker/postgres/
docker/csv/data
uploads/
finalDir/
/uploads
/finalDir
