<div class="container">↵
    <div class="row">↵
        <div class="col-md-8">↵
            <div class="search-form--filter mob-hide">↵
                <div class="result-all">Знайдено: <span header-totals>64 714</span></div>
                ↵
            </div>
            ↵
        </div>
        ↵
        <div class="col-md-4"></div>
        ↵
    </div>
    ↵
</div>↵    ↵    ↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-26-000015-c" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Договір №15-19 про виконання проектно-кошторисних робіт</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Завершена</li>
                        ↵
                        <li>КОВЕЛЬ</li>
                        ↵
                    </ol>
                    ↵
                    <div class="description-wr open">↵
                        <div class="description"><p>Робочий проект &quot;Нове будівництво амбулаторії загальної практики
                            сімейної медицини по вул. Садова, 3 в с. Тойкут Ковельського району Волинської області</p>
                        </div>
                        ↵
                    </div>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> Тойкутська сільська рада↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-26-000015-c</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵
                        150 000,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-03-15-001811-c" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>ГБН Г.1-218-182:2011 Послуги з поточного середнього ремонту автомобільної дороги державного значення Т-03-06/Т-03-02/-Шацьк-Вілиця-Прип&#039;ять-Любохини-/Т-03-08/ на ділянці км 0+490 - км 22+992 (окремими ділянками), ділянка км 9+747 - км 22+992 (45233142-6 Ремонт доріг)</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Аукціон</li>
                        ↵
                        <li>Луцьк</li>
                        ↵
                    </ol>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> Служба автомобільних доріг у
                        Волинській області↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-03-15-001811-c</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵
                        103 243 098,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                    <div class="items-list--item--date">Оголошено: 15 березня 2019</div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-26-000023-a" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Лісозаготівельні послуги в Рожищенському лісництві</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Завершена</li>
                        ↵
                        <li>місто Ківерці</li>
                        ↵
                    </ol>
                    ↵
                    <div class="description-wr open">↵
                        <div class="description"><p>Лісозаготівельні послуги</p></div>
                        ↵
                    </div>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> ДП &quot;Ківерцівське лісове
                        господарство&quot;↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-26-000023-a</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 9
                        504,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-21-002698-a" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>ДК 021:2015:18810000-0 &ndash; Взуття різне, крім спортивного та захисного (Туфлі парадні чоловічі демісезонні)</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Подання пропозицій</li>
                        ↵
                        <li>Луцьк</li>
                        ↵
                    </ol>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> ДЕПАРТАМЕНТ МУНІЦИПАЛЬНОЇ
                        ВАРТИ ЛУЦЬКОЇ МІСЬКОЇ РАДИ↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-21-002698-a</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵
                        120 000,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                    <div class="items-list--item--date">Оголошено: 21 травня 2019</div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-10-000103-a" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Послуги з технічного огляду та випробовувань (Послуги з технічного огляду автомобілів)_8043841</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Торги не відбулися</li>
                        ↵
                        <li>м. Луцьк</li>
                        ↵
                    </ol>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> АТ &quot;Укрпошта&quot; в
                        особі волинської дирекція↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-10-000103-a</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 37
                        000,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                    <div class="items-list--item--date">Оголошено: 10 травня 2019</div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-22-000467-b" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>хімреактиви для лабораторії</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Подання пропозицій</li>
                        ↵
                        <li>Луцьк</li>
                        ↵
                    </ol>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> КОМУНАЛЬНЕ ПІДПРИЄМСТВО &quot;ЛУЦЬКИЙ
                        ЦЕНТР ПЕРВИННОЇ МЕДИЧНОЇ ДОПОМОГИ №2&quot;↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-22-000467-b</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 21
                        800,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                    <div class="items-list--item--date">Оголошено: 22 травня 2019</div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-26-000016-c" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Лісозаготівельні послуги в Рожищенському лісництві</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Завершена</li>
                        ↵
                        <li>місто Ківерці</li>
                        ↵
                    </ol>
                    ↵
                    <div class="description-wr open">↵
                        <div class="description"><p>Лісозаготівельні послуги</p></div>
                        ↵
                    </div>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> ДП &quot;Ківерцівське лісове
                        господарство&quot;↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-26-000016-c</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 18
                        720,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-26-000013-c" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Лісозаготівельні послуги в Рожищенському лісництві</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Завершена</li>
                        ↵
                        <li>місто Ківерці</li>
                        ↵
                    </ol>
                    ↵
                    <div class="description-wr open">↵
                        <div class="description"><p>Лісозаготівельні послуги</p></div>
                        ↵
                    </div>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> ДП &quot;Ківерцівське лісове
                        господарство&quot;↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-26-000013-c</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 14
                        112,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-26-000008-c" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Послуги з ремонту електродвигунів</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Завершена</li>
                        ↵
                        <li>місто Ківерці</li>
                        ↵
                    </ol>
                    ↵
                    <div class="description-wr open">↵
                        <div class="description"><p>Перемотування елетродвигуна 2,2 квт -4А - 1500 об/хв</p></div>
                        ↵
                    </div>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> ДП &quot;Ківерцівське лісове
                        господарство&quot;↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-26-000008-c</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 1
                        160,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵
<div class="items-list">↵
    <div class="container">↵
        <div class="items-list--item clearfix">↵
            <div class="row clearfix">↵
                <div class="col-md-8">↵ <a href="/tender/UA-2019-05-26-000014-a" class="items-list--header"><i
                        class="sprite-mouse-icon"></i><span>Послуги з виготовлення стенда</span></a>↵
                    <div class="clearfix"></div>
                    ↵
                    <ol class="breadcrumb">↵
                        <li>Електронні закупівлі</li>
                        ↵
                        <li class="marked">Завершена</li>
                        ↵
                        <li>місто Ківерці</li>
                        ↵
                    </ol>
                    ↵
                    <div class="description-wr open">↵
                        <div class="description"><p>Послуги з виготовлення стенда з органічного скла &quot;Герої не
                            вмирають&quot; з елементами кріплення</p></div>
                        ↵
                    </div>
                    ↵
                    <div class="items-list-item-description">↵ <strong>Компанія:</strong> ДП &quot;Ківерцівське лісове
                        господарство&quot;↵
                    </div>
                    ↵
                    <div class="items-list--tem-id"><strong>ID:</strong> UA-2019-05-26-000014-a</div>
                    ↵
                </div>
                ↵
                <div class="col-md-4 relative">↵
                    <div class="items-list--item--price">↵ <span class="price-description">Очікувана вартість</span>↵ 1
                        180,00↵ <span class="uah">UAH</span>↵
                    </div>
                    ↵
                </div>
                ↵
            </div>
            ↵
        </div>
        ↵
    </div>
    ↵
</div>↵        ↵    ↵