<html layout:decorator="core/layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">

    <div class="row">
        <div id="stepper1" class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <div class="step" data-target="#test-l-1">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Upload file</span>
                    </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-l-2">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger2"
                            aria-controls="test-l-2">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Select headers</span>
                    </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-l-3">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Process</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <div id="test-l-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger1">
                    <div id="fine-uploader-manual-trigger"></div>
                </div>
                <div id="test-l-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">
                    <!--<div class="row" style="text-align: center;">-->
                        <!--<h1>Select headers for this file</h1>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked id="noHeadersCheckBox">
                            <label class="form-check-label" for="noHeadersCheckBox">No headers</label>
                        </div>
                    </div>
                    <div class="row noHeadersDiv headerComponent" style="padding-top: 15px">
                        <div id="noHeaders" style="overflow: auto; vertical-align: top;" class="handsontable"></div>
                    </div>

                    <div class="row fileHeadersDiv" style="padding-top: 25px">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fileHeadersCheckBox">
                            <label class="form-check-label" for="fileHeadersCheckBox">Headers from file (first line from
                                file)</label>
                        </div>
                    </div>
                    <div class="row fileHeadersDiv div_disabled headerComponent" style="padding-top: 15px">
                        <div id="fileHeaders" style="overflow: auto; vertical-align: top;" class="handsontable"></div>
                    </div>

                    <div class="row" style="padding-top: 25px">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="customHeadersCheckBox">
                            <label class="form-check-label" for="customHeadersCheckBox">
                                Custom headers (input comma separated headers)
                            </label>
                        </div>
                    </div>
                    <div class="row customHeadersDiv div_disabled headerComponent" style="padding-top: 5px">
                        <div class="form-group">
                            <textarea class="form-control" id="customHeadersTextArea" rows="3"></textarea>
                        </div>
                        <div id="customHeaders" style="overflow: auto; vertical-align: top;display: none"
                             class="handsontable"></div>
                    </div>

                    <div class="row" style="padding-top: 10px">
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="applyHeaders()">Apply
                        </button>
                    </div>
                </div>
                <div id="test-l-3" role="tabpanel" class="bs-stepper-pane text-center" aria-labelledby="stepper1trigger3">
                    <div class="col-md-12 col-md-offset-0 table-wrapper" id="processProgressBar">
                        <span>Processing file data <span id="processedCount"></span></span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 0;" id="progress"></div>
                            <span id="progressInfo">0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="header_sources">
    <link th:href="@{/static/stylesheets/fine-uploader-new.css}" rel="stylesheet">
    <script th:src="@{/static/javascripts/all.fine-uploader.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

    <style>
        .progress {
            position: relative;
        }

        .progress span {
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;
            color: indianred;
        }

        .div_disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    </style>
    <script type="text/template" id="qq-template-manual-trigger">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here in format (txt, csv, tsv)">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                     class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="buttons">
                <div class="qq-upload-button-selector qq-upload-button">
                    <div>Select files</div>
                </div>
                <button type="button" id="trigger-upload" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> Upload
                </button>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"
                          aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

    <style>
        #trigger-upload {
            color: white;
            background-color: #00ABC7;
            font-size: 14px;
            padding: 7px 20px;
            background-image: none;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
    </style>
</div>
<div layout:fragment="body_sources">

    <script>
        let stepper = null;
        let manualUploader = null;
        let taskData = null;

        $(document).ready(function () {
            stepper = new Stepper($('.bs-stepper')[0])
            initFinaUploader()
            // test()
        });

        function test() {
            taskData = {
                "id": 34,
                "token": "xzmihzjoyikruig",
                "originFileName": "newLTT_disavow_black_donor_domain.csv",
                "status": "IN_PROGRESS",
                "columns": ["column_0", "column_1", "column_2", "column_3"],
                "headers": ["1", "4us.com.ua", "6", "1499249520"],
                "rowCount": 3926,
                "success": false
            };

            // initProcessTask();
            initHeaderSelect();
        }

        function applyHeaders() {
            let headers = [];
            const isNoHeaders = $('#noHeadersCheckBox').prop("checked");
            const isCustomHeaders = $('#customHeadersCheckBox').prop("checked");

            console.log(isNoHeaders, isCustomHeaders);

            if (isNoHeaders) {
                headers = taskData.columns;
            } else if (isCustomHeaders) {
                headers = getHeadersFromCustomHeadersTextArea()
            }

            if (headers.length > 0) {
                $.ajax({
                    'type': 'POST',
                    'url': '/task/updateHeaders/' + taskData.token,
                    'contentType': 'application/json',
                    'data': JSON.stringify(headers),
                    'dataType': 'json',
                    async: false,
                    'success': function (response) {
                        taskData = response;
                    }
                });
            }

            initProcessTask();
        }

        function initHeaderSelect() {
            stepper.to(2);

            createHeadersTable("fileHeaders", taskData.headers);
            createHeadersTable("noHeaders", taskData.columns);

            $('.form-check-input').click(function () {
                $('.form-check-input').prop("checked", false);
                $(this).prop("checked", true);

                const id = $(this).attr('id');

                const classToEnable = id.replace('CheckBox', '');

                $('.headerComponent').addClass('div_disabled');

                $('.' + classToEnable + "Div").removeClass("div_disabled");
            });

            $('#customHeadersTextArea').on('change cut paste', function (e) {
                changeCustomHeaderTable();
            }).keypress(function (e) {
                if (e.which !== 0 && e.altKey === false && e.ctrlKey === false && e.metaKey == false) {
                    changeCustomHeaderTable();
                }
            });
        }

        function getHeadersFromCustomHeadersTextArea() {
            const content = $('#customHeadersTextArea').val();

            return content.split(',').filter(function (el) {
                return el != null && el !== "";
            });
        }

        function changeCustomHeaderTable() {
            const headers = getHeadersFromCustomHeadersTextArea();

            $('#customHeaders').show();
            createHeadersTable("customHeaders", headers);
        }

        function createHeadersTable(id, headers) {
            $("#" + id).handsontable({
                data: [],
                colHeaders: headers,
                columns: headers,
                scrollH: 'auto',
                scrollV: 'auto',
                autoWrapRow: false,
                stretchH: 'all',
            });
        }

        function initFinaUploader() {
            stepper.to(1);
            if (manualUploader !== null) {
                return
            }
            manualUploader = new qq.FineUploader({
                element: document.getElementById('fine-uploader-manual-trigger'),
                template: 'qq-template-manual-trigger',
                request: {
                    endpoint: '/uploads'
                },
                thumbnails: {
                    placeholders: {
                        waitingPath: 'https://fineuploader.com/source/placeholders/waiting-generic.png',
                        notAvailablePath: 'https://fineuploader.com/source/placeholders/not_available-generic.png'
                    }
                },
                chunking: {
                    enabled: true,
                    concurrent: {
                        enabled: true
                    },
                    success: {
                        endpoint: '/chunksdone'
                    }
                },
                callbacks: {
                    onComplete: function (id, name, responseJSON,) {
                        if (responseJSON.token !== undefined) {
                            taskData = responseJSON;
                            initHeaderSelect();
                        }
                    }
                },
                validation: {
                    itemLimit: 1,
                    allowedExtensions: ['txt', 'csv', 'tsv']
                },
                autoUpload: false
            });

            qq(document.getElementById("trigger-upload")).attach("click", function () {
                manualUploader.uploadStoredFiles();
            });
        }

        function initProcessTask() {
            stepper.to(3);

            const socket = new SockJS('http://localhost:8090//ws');
            const stompClient = Stomp.over(socket);
            stompClient.debug = function () {};
            stompClient.connect({}, function () {
                stompClient.subscribe('/channel/app/parsingProgress/' + taskData.token, function (message) {
                    if (!message.body) {
                        return;
                    }

                    const body = JSON.parse(message.body);

                    if (body.status === "FINISHED") {
                        window.location = "/task/" + taskData.token
                    } else {
                        const percent = (body.processedCount / (body.totalCount / 100)).toFixed(2);

                        $('#progress').css({width: percent + "%"});
                        $('#progressInfo').text(`${percent} %`);
                        $('#processedCount').text(`${body.processedCount} of ${body.totalCount}`);
                    }
                });

                $.get("/task/process/" + taskData.token)
            });
        }
    </script>
</div>
</html>