<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">Перед использованием сервиса, пожалуйста, ознакомьтесь с условиями Правил. Факт использования Сервиса любым способом признается акцептом, то есть полным и безоговорочным согласием Пользователя, использовать Сервис на изложенных ниже условиях.</span>
    </p>
    <p style="text-indent: 1.0cm; line-height: normal; background: white; margin: 16.95pt 0cm 6.0pt 0cm;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">Общиеположения</span></p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">1.1.&nbsp;Настоящиеправила (далее &mdash; &laquo;Правила&raquo;) определяютусловияиспользованиясервисапоискааукционовнасистемеэлектронныхторгов ProZorro.Продажи.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif;"><span style="color: #262626;">1.2.&nbsp;Под Сервисом (далее &mdash; &laquo;Сервис&raquo;) в целях настоящих Правил понимается программный продукт, доступ к которому предоставляется на интернет-сайте по адресу </span><a
            href="http://lotscanner.com/">http://lotscanner.com</a><span style="color: #262626;">, предназначенный для следующих целей: поиск и предоставление Пользователю на основании его запросов информации об аукционах, предлагаемых к приобретению третьими лицами; отслеживание и предоставление Пользователю, оформившему подписку на почтовую рассылкуСервиса, статистической информации; другие функций Сервиса.</span></span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">1.3.&nbsp;Пользователь выражает свое полное и безоговорочное согласие, что использование Сервиса, а также любых его частей, любым способом подразумевает факт ознакомления Пользователя с настоящими Правилами и означает полное и безоговорочное согласие с их содержанием. Если Пользователь не принимает условия Правил в полном объёме, Пользователь обязан воздержаться от использования Сервисом.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">1.4.&nbsp;Если по какой-либо причине одно или несколько положений Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Правил.</span>
    </p>
    <p style="text-indent: 1.0cm; line-height: normal; background: white; margin: 16.95pt 0cm 6.0pt 0cm;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">ИспользованиеСервиса</span></p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">2.1. Владелец сервиса безвозмездно, на условиях простой (неисключительной) лицензии, предоставляет Пользователю непередаваемое
право использования Сервиса на территории всех стран мира по его прямому функциональному назначению, определённому в п.1.2. Правил.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">2.2.&nbsp;Взаимодействие с Сервисом, в т.ч. формирование запросов Пользователя для поиска аукционов, осуществляется исключительносредствами предоставляемого Пользователям графического интерфейса Сервиса. Средствами Сервиса Пользователю предоставляется возможность ознакомиться с предложениями третьих лиц о ценах на аукционы по заданным направлениям и датам, а также получить ссылку для перехода на сайты указанных третьих лиц. </span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif;"><span style="color: #262626;">2.3. Покупка (оформление) предложений аукционов и их оплата производится на веб-сайтах третьих лиц, предлагающих их к продаже. Пользователь уведомлен и подтверждает понимание того обстоятельства, что </span><a
            href="http://lotscanner.com/">http://lotscanner.com</a><span style="color: #262626;"> не осуществляет продажу/организацию аукционов, не гарантирует и не несет ответственности за достоверность информации о предлагаемых к продаже третьими лицами аукционов, осуществление денежных трансферов, исполнение договоров перевозки и т. п. При возникновении спорных ситуаций относительно указанных обстоятельств Пользователь обязуется обращаться за их разрешением непосредственно к лицам, вступившим с Пользователем в отношения по продаже аукционов, перечислению денежных средств или перевозке.</span></span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">2.4. Пользователь проинформирован и выражает согласие воздерживаться от следующих действий:</span>
    </p>
    <ul>
        <li><span style="font-family: arial, helvetica, sans-serif; color: #262626;">вмешиваться в работу Сервиса способами, следствием использования которых может быть нарушение его работоспособности, в том числе формировать запросы иначе как через пользовательский интерфейс;</span>
        </li>
        <li><span style="font-family: arial, helvetica, sans-serif; color: #262626;">использовать любые не авторизованные Владельцем сервиса программы или приложения для взаимодействия с Сервисом;</span>
        </li>
        <li><span style="font-family: arial, helvetica, sans-serif; color: #262626;">осуществлять модификацию, усовершенствование, перевод на другие языки, декомпилирование, дизассемблирование, декодирование, эмуляцию, нарушение целостности, восстановление исходного кода Сервиса или каких-либо его частей;</span>
        </li>
        <li><span
                style="font-family: arial, helvetica, sans-serif; color: #262626;">использоватьСервисвнезаконныхцелях.</span>
        </li>
    </ul>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif;"><span style="color: #262626;">2.5. </span><a
            href="http://lotscanner.com/">http://lotscanner.com</a> <span style="color: #262626;">вправе в любое время по своему усмотрению вправе прекратить поддержку работоспособности Сервиса, изменить его функционал, а также запретить Пользователю, а Пользователь по указанному требованию обязан прекратить использование Сервиса.</span></span>
    </p>
    <p style="margin-bottom: .0001pt; text-indent: 1.0cm; line-height: normal;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626; background: white;">2.6.&nbsp;Средствами Сервиса Пользователю предоставляется возможность оформить подписки и получать по электроннойпочте</span>
    </p>
    <ul>
        <li><span style="font-family: arial, helvetica, sans-serif; color: #262626;">новости об изменениях цен на интересующие Пользователя даты инаправления перелётов,</span>
        </li>
        <li><span style="font-family: arial, helvetica, sans-serif;"><span
                style="color: #262626;">новостнуюрассылку </span><a
                href="http://lotscanner.com/">http://lotscanner.com</a><span
                style="color: #262626;">.&nbsp;</span></span></li>
    </ul>
    <p style="margin-bottom: .0001pt; text-indent: 1.0cm; line-height: normal;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626; background: white;">Пользовательвыражаетсогласие, чтооформлениеи/илииспользованиеПользователемсоответствующейподпискирасцениваетсякаксогласиеПользователяна:</span>
    </p>
    <ul>
        <li><span style="font-family: arial, helvetica, sans-serif; color: #262626;">использование адреса электронной почты Пользователя для направления Пользователю и получения им соответствующих писем Владельца сервиса,</span>
        </li>
        <li><span style="font-family: arial, helvetica, sans-serif; color: #262626;">получение интегрированной в рассылку рекламной информации Владельца сервиса и третьих лиц (сторонних рекламодателей).</span>
        </li>
    </ul>
    <p style="margin-bottom: .0001pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">2.7. В случае несогласия Пользователя с указанным в настоящем пункте правилом, Пользователь обязан отказаться от получения рассылки перейдя по соответствующей ссылке, имеющейся в каждом письме.</span>
    </p>
    <p style="text-indent: 1.0cm; line-height: normal; background: white; margin: 16.95pt 0cm 6.0pt 0cm;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">Ответственность</span></p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">3.1. Функционал сервиса предоставляется на условиях &laquo;как есть&raquo; (as is). Владелец сервиса не предоставляет никаких гарантий в отношении безошибочной и бесперебойной работы Сервиса, отдельных его частей, компонентов или функций, соответствия функционала Сервиса конкретным целям и ожиданиям Пользователя, не гарантирует достоверность, точность, полноту и своевременность предоставляемой Сервисом данных, а также не предоставляет никаких иных гарантий, прямо не указанных в настоящих Правилах.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">3.2. Владелец сервиса не несет ответственности за какие-либо прямые или косвенные последствия какого-либо использования или невозможности использования Сервиса (включая данные) и/или ущерб, причиненный Пользователю и/или третьим сторонам в результате какого-либоиспользования, неиспользования или невозможности использования Сервиса (включая данные) или отдельных его компонентов и/или функций, в том числеиз-за возможных ошибок или сбоев в работе Сервиса.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">3.3. Пользователь обязуется использовать Сервис в соответствии сзаконами той страны, в которой он находится, и принимает на себя ответственность нарушение установленных национальным законодательством ограничений на использование Сервиса.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">3.4. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение применимого законодательства при использовании Сервиса.</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">3.5. В случае возникновения любых спорных ситуаций Пользователь перед обращением в судебные органы за разрешением спора обязан предпринять меры для досудебного урегулирования.</span>
    </p>
    <p style="text-indent: 1.0cm; line-height: normal; background: white; margin: 16.95pt 0cm 6.0pt 0cm;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">ПраванаСервис</span></p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">4.1. Права на интеллектуальную собственность, в том числе результаты интеллектуальной деятельности включенные в состав Сервиса или используемые им, такие как тексты, изображения, дизайн, базы данных, ноу-хау, торговые марки, фирменные наименования и иные средства идентификации и т.п., принадлежат Владельцу сервиса или предоставлены ему правообладателями по лицензии.&nbsp;</span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">4.2. Использование указанных в п.4.1. объектов интеллектуальной собственности возможно только в рамках функционала, предлагаемого Сервисом. Пользователь соглашается, что использование Сервиса не предоставляет ему никаких прав в отношение указанных объектов интеллектуальной собственности, за исключением прав, явно указанных в Правилах.</span>
    </p>
    <p style="text-indent: 1.0cm; line-height: normal; background: white; margin: 16.95pt 0cm 6.0pt 0cm;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">ИзменениеПравил</span></p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">5.1. Владелец сервиса вправе в любое время и без предварительного уведомления изменить настоящие Правила в одностороннем порядке. </span>
    </p>
    <p style="margin-bottom: 11.25pt; text-indent: 1.0cm; line-height: normal; background: white;"><span
            style="font-family: arial, helvetica, sans-serif; color: #262626;">5.2. Изменения Правил вступают в силу с даты их публикации, если иное не оговорено в соответствующей публикации.</span>
    </p>
    <p style="text-indent: 1.0cm;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
</div>
</html>