<html layout:decorator="core/layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div layout:fragment="header_sources">
        <style>
            .buttons-wrapper {display: flex;margin-top: 25px;}
            .pagination-info-wrapper {display: flex;justify-content: space-between;margin-bottom: 25px;}
            .buttons-wrapper button {flex: 1;}
        </style>
    </div>

    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 table-wrapper" >
                <div id="divSpinner"></div>
                <div class="row">
                    <div class="pagination-info-wrapper" id="paginationInfo" style="display: none">
                        <p id="requestInfo"></p>
                        <div class="form-inline md-form mr-auto mb-4p">
                            <input class="form-control mr-sm-4" id="searchString" type="text" placeholder="Search" aria-label="Search" style="width: 300px">
                            <button class="btn btn-outline-secondary" id="searchButton" type="submit">Search</button>
                        </div>
                        <select id="pageSizeSelect"></select>
                    </div>
                </div>

                <div id="taskData">
                    <div id="dataTable" style="overflow: auto; vertical-align: top;" class="handsontable"></div>
                </div>

                <div class="buttons-wrapper" id="paginationButtons"></div>
            </div>
        </div>
    </div>
    <div layout:fragment="body_sources">
        <script th:src="@{/static/javascripts/csvparse.js}"></script>
        <script src="http://www.convertcsv.com/json2.js"></script>
        <script src="http://www.convertcsv.com/js/blob.js"></script>
        <script src="http://www.convertcsv.com/js/filesaver.js"></script>
        <script src="http://www.convertcsv.com/js/storagesup.js"></script>
        <script th:src="@{/static/javascripts/utils.js}"></script>
        <script th:src="@{/static/javascripts/main.js}"></script>
        <script th:inline="javascript">

            var token = [[${task.token}]];

            let paginationInfo = {
                pageSize: 250,
                search: "",
                page: 1,
                token: token,
            };

            const headers = [[${task.headers}]];
            const columns = [[${task.columns}]].map((columnName) => {return {data: columnName}});

            $( document ).ready(function () {
                renderSizesSelect();
                init()
            });

            function showSpinner() {
                $('#divSpinner').show();
                $('#paginationInfo').hide();
                // $('#taskData').hide();
                spinit.spin(document.getElementById('divSpinner'));
            }

            function hideSpinner() {
                $('#divSpinner').hide();
                $('#paginationInfo').show();
                // $('#taskData').show();
                spinit.stop(document.getElementById('divSpinner'));
            }

            function init() {
                showSpinner();
                const path = "/task/data/pagination/" + objectToQuerystring(paginationInfo);
                $("#searchButton").click(() => {
                    const value = $('#searchString').val();
                    updatePaginationInfo({
                        search: value
                    });
                });
                $.get(path , (response) => {
                    processCsv(response);
                })
            }

            function updatePaginationInfo(newPaginationInfoData) {
                paginationInfo = Object.assign(paginationInfo, newPaginationInfoData);
                console.log(newPaginationInfoData, paginationInfo);
                init()
            }

            function processCsv(data) {
                _.delay(() => {
                    showGrid(data);
                    hideSpinner();

                    renderPaginationInfo(data);
                    renderPaginationButtons(data);
                }, 300);
            }

            function renderSizesSelect(){
                const sizes = [10, 50, 100, 250, 500];
                const sizesHtml = sizes.map(size => {
                    const selected = paginationInfo.pageSize === size;

                    return `<option data-pageSize="${size}" ${selected ? "selected" : ""}>show ${size} entries</option>`;
                }).join("");
                $('#pageSizeSelect').html(sizesHtml);
                $('#pageSizeSelect').change(function () {
                    updatePaginationInfo({pageSize: $(this).find(':selected').data("pagesize")});
                });
            }

            function renderPaginationInfo(data){
                $('#requestInfo').text(`Showing ${(paginationInfo.page - 1 ) * paginationInfo.pageSize} to ${(paginationInfo.page ) * paginationInfo.pageSize} of ${data.filteredCount}`);
            }

            function renderPaginationButtons(data){
                $('#paginationButtons').html(`
                    <button class="btn btn-warning paginationButton" data-page="1">first</button>
                    <button class="btn btn-primary paginationButton" ${paginationInfo.page - 1 <= 0 ? 'disabled' : 'data-page=' + (paginationInfo.page -1)}>${paginationInfo.page - 1}</button>
                    <button class="btn btn-success paginationButton" disabled>${paginationInfo.page}</button>
                    <button class="btn btn-primary paginationButton" ${paginationInfo.page + 1 > data.pages ? 'disabled' : "data-page=" + (paginationInfo.page + 1)}>${paginationInfo.page + 1}</button>
                    <button class="btn btn-warning paginationButton" data-page="${data.pages}">last</button>
                `);

                $(".paginationButton").click(function (){
                    updatePaginationInfo($(this).data());
                })
            }

            let handsontable = null;

            function showGrid(data) {
                const dataTable = $("#dataTable");

                if(handsontable == null){
                    handsontable = dataTable.handsontable({
                        data: data.summary,
                        colHeaders: headers,
                        columns: columns,
                        rowHeaders: true,
                        scrollH: 'auto',
                        scrollV: 'auto',
                        autoWrapRow: false,
                        stretchH: 'all',
                        height: 800,
                        licenseKey: 'non-commercial-and-evaluation',
                        // manualColumnResize: true,
                        // filters: true,
                        // dropdownMenu: true,
                        // contextMenu: true,
                    });
                    dataTable.handsontable("selectCell", 0, 0);
                    dataTable.handsontable("render");
                }else{
                    dataTable.handsontable("loadData", data.summary);
                }
            }
        </script>
    </div>
</html>